# Secret files
secret.yaml
temp_manifest/

# vscode setting
/.vscode

# cache file
*.pyc
.coverage
__pycache__/
.pytest_cache/

# jupyter notebook for explodary implementation
jupyter/

# gabbage
*.DS_Store