# Secret files
dshack-secret.yaml
schemaspy.sh

# package and virtual environments(venv)
/bin
/include
/lib
/share
.env
pyvenv.cfg
.DS_Store

# vscode setting
/.vscode

# log file
*.log

# cache file
*.pyc
.coverage
__pycache__/
.pytest_cache/

# DB dump file
*.sql

# schemaspy output
schema/

# jupyter notebook for explodary implementation
jupyter/