apiVersion: v1
kind: Secret
metadata:
  namespace: dshack-development
  name: postgres-secret
type: Opaque
data:
  dbname: <<DB Name>>
  testdbname: <<TestDB Name>>
  username: <<DB Username>>
  password: <<DB Password>>