# development環境 PostgreSQL認証情報
apiVersion: v1
kind: Secret
metadata:
  namespace: dshack-development
  name: postgres-secret
  labels:
    env: dev
type: Opaque
data:
  dbname: xxxxxxxxxx
  username: xxxxxxxxxx
  password: xxxxxxxxxx
---
# development環境 PostgreSQL(テスト用DB)認証情報
apiVersion: v1
kind: Secret
metadata:
  namespace: dshack-development
  name: postgres-test-secret
  labels:
    env: dev
type: Opaque
data:
  dbname: xxxxxxxxxx
  username: xxxxxxxxxx
  password: xxxxxxxxxx